@keyframes slide-in-top {
    0% {
      transform: translateY(-200px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}
.titleH2 {
margin: 0;
align-self: stretch;
position: relative;
font-size: inherit;
font-weight: 700;
font-family: inherit;
display: inline-block;
height: 74px;
flex-shrink: 0;
opacity: 0;
}
.textH4.animate,
.titleH2.animate {
animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.weveSegmentedCourses {
font-family: Inter;
}
.weveSegmentedCoursesIntoS {
margin-block-start: 0;
margin-block-end: 0;
}
.blankLineP3,
.textH4 {
margin: 0;
}
.textH4 {
align-self: stretch;
position: relative;
font-size: 25px;
display: inline-block;
height: 338px;
flex-shrink: 0;
opacity: 0;
font-family: inherit;
}
.frameDiv1 {
flex: 1;
height: 480px;
display: flex;
flex-direction: column;
padding: 0 0 0 44px;
box-sizing: border-box;
align-items: flex-start;
justify-content: space-between;
}
.pencilsIcon {
position: relative;
width: 319px;
height: 534px;
flex-shrink: 0;
object-fit: cover;
}
.frameDiv {
position: relative;
background-color: #121212;
border: 3px solid #e4e4e4;
box-sizing: border-box;
width: 100%;
height: 600px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 101px;
text-align: left;
font-size: 45px;
color: #e4e4e4;
font-family: Inter;
}
  