.pNGImage10 {
  position: relative;
  width: 263px;
  height: 273px;
  flex-shrink: 0;
  object-fit: cover;
}
.titleB {
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.ourResponseWhy {
  font-weight: 600;
}
.ourResponseWhyShouldntIt {
  margin-block-start: 0;
  margin-block-end: 0;
}
.nowAnyoneIs {
  font-weight: 600;
  font-family: Mulish;
}
.gamingIsFunAndMostOfThe {
  margin: 0;
}
.frameDiv2 {
  flex: 1;
  height: 278px;
  display: flex;
  flex-direction: column;
  padding: 0 154px 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.frameDiv,
.frameDiv1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frameDiv1 {
  flex: 1;
  height: 318px;
}
.frameDiv {
  position: absolute;
  width: calc(100% - -2px);
  top: calc(50% - -161px);
  right: -4px;
  left: 2px;
  background-color: #181919;
  height: 317px;
  padding: 0 50px 0 100px;
  box-sizing: border-box;
  gap: 100px;
}
.titleH2,
.titleH4 {
  margin: 0;
  position: relative;
  font-family: Mulish;
  display: inline-block;
}
.titleH2 {
  align-self: stretch;
  font-size: inherit;
  font-weight: 700;
}
.titleH4 {
  font-size: 18px;
  font-weight: 400;
  width: 539px;
}
.frameDiv5,
.frameDiv6 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv6 {
  flex-direction: column;
  gap: 28px;
}
.frameDiv5 {
  flex-direction: row;
  padding: 0 100px 0 0;
  box-sizing: border-box;
}
.pNGImage6 {
  position: relative;
  width: 275px;
  height: 255px;
  flex-shrink: 0;
  object-fit: cover;
}
.frameDiv3,
.frameDiv4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frameDiv4 {
  flex: 1;
  padding: 0 250px 0 100px;
  box-sizing: border-box;
  gap: 100px;
}
.frameDiv3 {
  position: absolute;
  width: calc(100% - -2px);
  top: 1308px;
  right: 0;
  left: -2px;
  background-color: #272627;
  height: 301px;
}
.textH1,
.weCraftedATutorialToHelp {
  margin: 0;
  align-self: stretch;
  position: relative;
  display: inline-block;
  font-family: Mulish;
}
.textH1 {
  font-size: inherit;
  font-weight: 600;
}
.weCraftedATutorialToHelp {
  font-size: 18px;
}
.frameDiv8 {
  width: 702px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 55px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
}
.whatIsEthereum1Icon {
  position: relative;
  width: 334px;
  height: 255px;
  flex-shrink: 0;
  object-fit: cover;
}
.frameDiv7 {
  position: absolute;
  width: calc(100% - 251px);
  top: 127px;
  right: 98px;
  left: 153px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 55px;
  font-size: 33px;
}
.pNGImage12 {
  position: relative;
  width: 133px;
  height: 204px;
  flex-shrink: 0;
  object-fit: cover;
}
.textH41 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 18px;
  font-weight: 400;
  font-family: Mulish;
  display: inline-block;
}
.frameDiv10,
.frameDiv11,
.frameDiv9 {
  display: flex;
  justify-content: flex-start;
}
.frameDiv11 {
  flex: 1;
  flex-direction: column;
  padding: 0 146px 0 0;
  box-sizing: border-box;
  align-items: flex-start;
  gap: 25px;
}
.frameDiv10,
.frameDiv9 {
  flex-direction: row;
  align-items: center;
}
.frameDiv10 {
  flex: 1;
  gap: 100px;
}
.frameDiv9 {
  position: absolute;
  width: 100%;
  top: 406px;
  right: 0;
  left: 0;
  background-color: #121212;
  height: 242px;
  padding: 0 0 0 100px;
  box-sizing: border-box;
}
.weveSegmentedCourses {
  font-family: Mulish;
}
.frameDiv13 {
  flex: 1;
  height: 265px;
  display: flex;
  flex-direction: column;
  padding: 0 35px 0 183px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.pNGImage121 {
  position: relative;
  width: 174px;
  height: 288px;
  flex-shrink: 0;
  object-fit: cover;
}
.frameDiv12 {
  position: absolute;
  width: 100%;
  top: 648px;
  right: 0;
  left: 0;
  background-color: #212130;
  height: 343px;
  display: flex;
  flex-direction: row;
  padding: 23px 160px 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.textTxtSpan {
  line-break: anywhere;
}
.frameDiv15,
.textH43 {
  display: flex;
  align-items: center;
}
.textH43 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 18px;
  height: 191px;
  flex-shrink: 0;
  font-family: Mulish;
}
.frameDiv15 {
  flex: 1;
  height: 266px;
  flex-direction: column;
  padding: 0 35px 0 100px;
  box-sizing: border-box;
  justify-content: center;
  gap: 25px;
}
.pNGImage14 {
  position: relative;
  width: 455px;
  height: 273px;
  flex-shrink: 0;
  object-fit: cover;
}
.frameDiv14 {
  position: absolute;
  width: 100%;
  top: 648px;
  right: 0;
  left: 0;
  background-color: #212130;
  height: 343px;
  flex-direction: row;
  padding: 0 160px 0 0;
  box-sizing: border-box;
  justify-content: center;
  gap: 100px;
}
.frameDiv14,
.frameDiv16,
.nFTeachH4 {
  display: flex;
  align-items: center;
}
.nFTeachH4 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: Mulish;
  width: 230px;
  flex-shrink: 0;
}
.frameDiv16 {
  position: absolute;
  width: 100%;
  top: 1609px;
  right: -2px;
  left: 2px;
  background-color: #121212;
  height: 51px;
  flex-direction: row;
  padding: 25px 173px 25px 24px;
  box-sizing: border-box;
  justify-content: flex-start;
  font-size: 13px;
}
.logoDiv {
  flex: 1;
  position: relative;
  display: inline-block;
}
.frameDiv17 {
  position: absolute;
  top: 0;
  left: -2px;
  background-color: #121212;
  width: 1442px;
  height: 74px;
  display: flex;
  flex-direction: row;
  padding: 26px 11px 26px 36px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: 18px;
}
.tutorialDiv {
  position: relative;
  background-color: #18191a;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 1660px;
  overflow: hidden;
  text-align: left;
  font-size: 25px;
  color: #e4e4e4;
  font-family: Mulish;
}
