.textH3,
.titleH1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.textH3 {
  font-size: 20px;
  font-weight: 300;
  color: #919191;
}
.frameDiv1,
.frameDiv2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.frameDiv1 {
  justify-content: flex-start;
  gap: 45px;
}
.pNGImage9 {
  position: relative;
  width: 380px;
  height: 376px;
  flex-shrink: 0;
  object-fit: cover;
}
.funSpan {
  color: #f07592;
}
.titleB {
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.weThoughtOnline {
  margin-block-start: 0;
  margin-block-end: 0;
}
.dontBelieveUs,
.textH4 {
  margin: 0;
}
.textH4 {
  align-self: stretch;
  position: relative;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
}
.frameDiv4,
.frameDiv5 {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.frameDiv5 {
  flex: 1;
  height: 212px;
  flex-direction: column;
  padding: 0 259px 0 35px;
  justify-content: flex-start;
  gap: 30px;
}
.frameDiv4 {
  background-color: #212130;
  width: 1440px;
  height: 429px;
  flex-shrink: 0;
  flex-direction: row;
  padding: 0 0 5px 134px;
  justify-content: center;
  gap: 127px;
}
.frameDiv,
.frameDiv3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frameDiv3 {
  width: 1447px;
  height: 472px;
  flex-shrink: 0;
  justify-content: flex-start;
  text-align: left;
  font-size: 28px;
}
.frameDiv {
  position: absolute;
  width: calc(100% - -7px);
  top: 153px;
  right: 0;
  left: -7px;
  height: 653px;
  justify-content: center;
  gap: 45px;
  font-size: 45px;
}
.polygonSpan {
  color: #8247e5;
}
.textH41,
.titleB1 {
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.titleB1 {
  line-height: 130%;
}
.textH41 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  font-family: inherit;
}
.frameDiv7 {
  width: 770px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 172px;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 30px;
}
.pNGImage8 {
  position: relative;
  width: 295px;
  height: 264px;
  flex-shrink: 0;
  object-fit: cover;
}
.frameDiv6,
.titleB2 {
  position: absolute;
  display: flex;
  align-items: center;
}
.frameDiv6 {
  width: 100%;
  top: 788px;
  right: 0;
  left: 0;
  background-color: #292929;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  height: 298px;
  flex-direction: row;
  padding: 25px 173px 25px 0;
  justify-content: flex-start;
  gap: 136px;
  text-align: left;
  font-size: 28px;
}
.titleB2 {
  top: calc(50% - -378.5px);
  left: calc(50% - 720px);
  line-height: 130%;
  justify-content: center;
  width: 1434px;
}
.picture21Icon {
  position: relative;
  width: 175px;
  height: 175px;
  flex-shrink: 0;
  object-fit: cover;
}
.titleH2 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 130%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.frameDiv8,
.frameDiv9 {
  display: flex;
  justify-content: flex-start;
}
.frameDiv9 {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 37px;
}
.frameDiv8 {
  position: absolute;
  width: calc(100% - 383px);
  top: 1202px;
  right: 195px;
  left: 188px;
  flex-direction: row;
  align-items: flex-start;
  gap: 5px;
}
.nFTeachH4 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.frameDiv12,
.logoDiv {
  display: flex;
  align-items: center;
}
.frameDiv12 {
  position: absolute;
  width: 100%;
  top: 1473px;
  right: 0;
  left: 0;
  background-color: #121212;
  height: 54px;
  flex-direction: row;
  padding: 25px 173px 25px 0;
  box-sizing: border-box;
  justify-content: flex-start;
  text-align: left;
  font-size: 13px;
}
.logoDiv {
  position: relative;
  justify-content: center;
  width: 1395px;
  flex-shrink: 0;
}
.frameDiv13 {
  position: absolute;
  width: calc(100% - -2px);
  top: 0;
  right: -2px;
  left: 0;
  background-color: #121212;
  height: 71px;
  display: flex;
  flex-direction: row;
  padding: 26px 11px 26px 36px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 18px;
}
.welcomePageDiv {
  position: relative;
  background-color: #18191a;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 1529px;
  text-align: center;
  font-size: 25px;
  color: #e4e4e4;
  font-family: Mulish;
}
