.nFTeachH2,
.studentDashboardButton {
  position: relative;
  align-items: center;
  height: 39px;
}
.nFTeachH2 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  display: flex;
  width: 111px;
  flex-shrink: 0;
}
.studentDashboardButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: 19px;
  font-family: "Mulish", sans-serif;
  color: #5da395;
  text-align: center;
}
.exploreButton,
.studentDashboardButton,
.tabsDiv {
  flex: 1;
  display: flex;
  justify-content: center;
}
.exploreButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: 19px;
  font-family: "Mulish", sans-serif;
  color: #e4e4e4;
  text-align: center;
  align-items: center;
  height: 39px;
}
.tabsDiv {
  flex-direction: row;
  align-items: flex-start;
  gap: 45px;
}
.displayedNFTIcon {
  position: relative;
  border-radius: 100px;
  width: 71px;
  height: 71px;
  flex-shrink: 0;
  object-fit: cover;
}
.nameButton,
.profilePictureDiv {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.nameButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: 19px;
  font-family: "Mulish", sans-serif;
  color: #e4e4e4;
  text-align: left;
  width: 135px;
  height: 39.28px;
}
.profilePictureDiv {
  width: 227px;
  flex-direction: row;
  justify-content: flex-end;
  gap: 21px;
}
.frameDiv,
.headerDiv {
  display: flex;
  justify-content: flex-start;
}
.frameDiv {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: 157px;
}
.headerDiv {
  position: relative;
  background-color: #121212;
  width: 100%;
  flex-direction: column;
  padding: 17px 29px;
  box-sizing: border-box;
  align-items: flex-start;
  text-align: left;
  font-size: 25px;
  color: #e4e4e4;
  font-family: "Mulish", sans-serif;
}
