.imageIcon {
    flex: 1;
    align-self: stretch;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.frameDiv {
flex: 1;
height: 638px;
display: flex;
flex-direction: column;
padding: 0 0 52px;
box-sizing: border-box;
align-items: flex-start;
justify-content: flex-start;
}
.educationSpan {
color: #e09e3b;
}
.titleH2 {
margin: 0;
align-self: stretch;
position: relative;
font-size: inherit;
font-weight: 600;
font-family: inherit;
display: inline-block;
}
.weThoughtOnline {
margin-block-start: 0;
margin-block-end: 0;
}
.dontBelieveUs,
.textH4 {
margin: 0;
}
.textH4 {
align-self: stretch;
position: relative;
font-size: 33px;
font-weight: 400;
font-family: inherit;
display: inline-block;
}
.frameDiv1 {
flex: 1;
height: 489px;
flex-direction: column;
padding: 42px 0 62px;
box-sizing: border-box;
align-items: flex-start;
gap: 31px;
}
.educationDiv,
.frameDiv1,
.secondBlockDiv {
display: flex;
justify-content: flex-start;
}
.secondBlockDiv {
align-self: stretch;
box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
flex-direction: row;
align-items: center;
}
.educationDiv {
position: relative;
background-color: #18191a;
width: 100%;
height: 748px;
flex-direction: column;
padding: 55px 0;
box-sizing: border-box;
align-items: flex-start;
text-align: left;
font-size: 60px;
color: #e4e4e4;
font-family: Inter;
}
  